body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.btn-box {
    padding: 20px 40px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-box:hover {
    background-color: #005dc0;
}